{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "semi": "off",
        "linebreak-style": 0,
        "require-jsdoc": "off",
        "comma-dangle": "off",
        "space-before-blocks": "off",
        "indent": "off",
        "no-trailing-spaces": "off",
        "keyword-spacing": "off",
        "arrow-parens": "off",
        "no-unused-vars": "off",
        "eol-last": "off",
        "padded-blocks": "off",
        "prefer-const": "off",
        "camelcase": "off",
        "no-debugger": "off",
        "valid-jsdoc": "off",
        "guard-for-in": "off",
        "no-case-declarations": "off",
        "operator-linebreak": "off"
    },
    "extends": ["eslint:recommended", "google"]
}