{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "semi": "off",
        "linebreak-style": 0,
        "require-jsdoc": "off",
        "comma-dangle": "off",
        "space-before-blocks": "off",
        "indent": "off",
        "no-trailing-spaces": "off",
        "keyword-spacing": "off",
        "arrow-parens": "off",
        "no-unused-vars": "off"
    },
    "extends": ["eslint:recommended", "google"]
}